body{
background-color: #c36f6fcc;
}

h1{
color: red;
font-family: Arial, Helvetica, sans-serif;
font-size: 34px;
}


p{
color: blue;
font-family: 'Franklin Gothic Medium', 'Arial Narrow';
font-size: 25px;
}
